.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/workspace.xml
.idea/misc.xml
.Checkers.iml
*.class
out/
src/Tester.java
src/Test_Checker.java
src/Test_Queen.java
src/sample/TestVariables.java
